{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
  
  <section>
    <p id="fond" class="accroche">A vous de dévaler les pentes !</p>
  </section>

  <div class="container">
    <section class="haut flex espace liste" id="tricks">
      {% for trick in tricks %}
      
        <article>
          <img src={{ trick.imageMain }} alt={{ trick.title }} class="tricks" />
          <div class="details flex">
            <p><a href={{'tricks/' ~ trick.slug }}>{{ trick.title }}</a></p>
            {% if app.user %}
              <div class="bouton">
                <a href="{{ path('edit_trick', { 'slug': trick.slug }) }}"><img src="img/pencil.png" alt="Editer" /></a>
                <a href="{{ path('delete_trick', {'id': trick.id}) }}"><img src="img/corbeille.png" alt="Corbeille" /></a>
              </div>
            {% endif %}
          </div>
        </article>
        
      {% endfor %}
    </section>

    <section class="haut">
      <p class="center"><a href="" class="load">Voir plus</a></p>
    </section>

  </div>
{% endblock %}




