<h2>Bonjour {{ username }}, </h2>

<p><a href="http://{{ address }}/newPassword?id={{ id }}&token={{ token }}">Veuillez cliquer sur ce lien pour réintialiser votre mot de passe.</a></p>

{# <p>Veuillez cliquer sur le lien ci-contre pour réintialiser votre mot de passe : {{address}}/newPassword?id={{id}}&token={{token}}</p> #}

<p>Cordialement, <br />Snowtricks</p>