<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Snowtricks{% endblock %}</title>
        
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
            <link rel="icon" href="{{ asset('favicon.png') }}" />
        {% endblock %}

    </head>
    <body>
        <header>
            <nav class="menuNormal">
                <div class="container flex">
                    <p><a href="/" class=""><img src="{{ asset('img/logo.png') }}" alt="Logo de Snowtricks" id="logo" /></a></p>
                    <ul class="flex menu">
                        <li><a href="/">Accueil</a></li>
                        <li><a href="/#tricks">Tricks</a></li>
                        {% if app.user %}
                            <li><a href="{{ path('add_trick') }}">Ajouter Trick</a></li>
                            <li><a href="{{ path('profil') }}">Profil</a></li>
                            <li><a href="{{ path('account_logout') }}">Déconnexion</a></li>
                        {% else %}
                            <li><a href="{{ path('register') }}">S'enregistrer</a></li>
                            <li><a href="{{ path('account_login') }}">Connexion</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            <nav class="menuResponsive">
                <div class="container flex">
                    <ul class="flex menu">
                        <li><a href="/"><img src="{{ asset('img/accueil-Responsive.png') }}" alt="Accueil" /></a></li>
                        <li><a href="/#tricks"><img src="{{ asset('img/sauvegarder.png') }}" alt="Trciks" /></a></li>
                        {% if app.user %}
                            <li>
                                <a href="{{ path('add_trick') }}"><img src="{{ asset('img/bouton-ajouter.png') }}" alt="Ajouter Trick" />
                                </a>
                            </li>
                            <li><a href="{{ path('profil') }}"><img src="{{ asset('img/profile-user.png') }}" alt="Profil" /></a></li>
                            <li>
                                <a href="{{ path('account_logout') }}"><img src="{{ asset('img/logout.png') }}" alt="Déconnexion" /></a>
                            </li>
                        {% else %}
                            <li><a href="{{ path('register') }}"><img src="{{ asset('img/personal.png') }}" alt="S'enregistrer" /></a></li>
                            <li><a href="{{ path('account_login') }}"><img src="{{ asset('img/login.png') }}" alt="Connexion" /></a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>

        
        {% block body %}{% endblock %}
        

        <footer class="haut item">
            <div class="container flex">
                <div>
                    <h4>Nos réseaux sociaux</h4>
                    <p class="haut social">
                        <a href="https://fr-fr.facebook.com/" target="blank"><img src="{{ asset('img/facebook.png') }}" alt="Facebook"></a>
                        <a href="https://www.linkedin.com/home/?originalSubdomain=fr" target="blank"><img src="{{ asset('img/linkedin.png') }}" alt="Linekdin"></a>
                        <a href="https://twitter.com/?lang=fr" target="blank"><img src="{{asset('img/twitter.png') }}" alt="Twitter"></a>
                    </p>
                </div>

                <div>
                    <h4>Liens</h4>
                    <ul>
                        <li><a href="/">Accueil</a></li>
                        <li><a href="#tricks">Tricks</a></li>
                        {% if app.user %}
                            <li><a href="{{ path('add_trick') }}">Ajouter Trick</a></li>
                            <li><a href="{{ path('profil') }}">Profil</a></li>
                            <li><a href="{{ path('account_logout') }}">Déconnexion</a></li>
                        {% else %}
                            <li><a href="{{ path('register') }}">S'enregistrer</a></li>
                            <li><a href="{{ path('account_login') }}">Connexion</a></li>
                        {% endif %}
                    </ul>
                </div>

            </div>

            <div class="copy">
                <p>Copyright 2021 - Site réalisé par Gaétan Fouillet - Projet OpenClassrooms</p>
            </div>
        </footer>

        {% block javascripts %}
            <script src="http://code.jquery.com/jquery.min.js" type="text/javascript"></script>
            <script src="{{ asset('js/script.js') }}"></script>
            <script src="{{ asset('js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
