{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/auth.css" />
{% endblock %}

{% block title %}Forgot Password{% endblock %}

{% block body %}

    <div class="container">


        <!--Forgot Password Section-->
        <h1 class="haut contact">Mot de passe oublié</h1>

        {# <form action="" method="POST">
            <input required type="email" name="emailPassword" placeholder="Email" maxlength='50' class="input1" />
            <button type="submit" name="forgotPassword" class="btnCo haut">Envoyer un mail</button>
        </form> #}

        {{ form_start(formForgotPassword) }}
            {{ form_widget(formForgotPassword.email) }}
            {{ form_errors(formForgotPassword.email) }}
        {{ form_end(formForgotPassword) }}

        {% for message in app.flashes('forgotPassword') %}
            <div class="alert alert-success flash">
                {{ message }}
            </div>
        {% endfor %}

    </div>

{% endblock %}