{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/auth.css" />
{% endblock %}

{% block title %}New Password{% endblock %}

{% block body %}

    <div class="container">


        <!--New Password Section-->
        <h1 class="haut contact">Récupération du mot de passe</h1>

        {# <form action="" method="POST">
            <input required type="password" name="newPassword" placeholder="Nouveau mot de passe" class="input1" />
            <button type="submit" name="confirmer" class="btnCo haut">Confirmer</button>
        </form> #}

        {{ form_start(formNewPassword) }}
            {{ form_widget(formNewPassword.password) }}
            {{ form_errors(formNewPassword.password) }}
        {{ form_end(formNewPassword) }}

        {% for message in app.flashes('newPassword') %}
            <div class="alert alert-success flash">
                {{ message }}
            </div>
        {% endfor %}


    </div>

{% endblock %}