{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/auth.css" />
{% endblock %}

{% block title %}New Password{% endblock %}

{% block body %}

    <div class="container">


        <!--New Password Section-->
        <h1 class="haut contact">Récupération du mot de passe</h1>

        {{ form_start(formNewPassword) }}
            {{ form_widget(formNewPassword.password) }}
            {{ form_errors(formNewPassword.password) }}
        {{ form_end(formNewPassword) }}

        {% for message in app.flashes('newPassword') %}
            <div class="haut">
                {{ message }}
            </div>
        {% endfor %}


    </div>

{% endblock %}