{% extends 'base.html.twig' %}

{% block title %}Add Trick{% endblock %}

{% block body %}
  <section class="imgFond">
  </section>

  <div class="container plan boite">
   {{ form_start(formAdd) }}
    <section>
      <div class="flex centreAll">
        <p class="name">Ajouter une Trick</p>
      </div>
    </section>

    <section class="haut">
        <p>{{ form_label(formAdd.title) }}</p>
        <p>{{ form_widget(formAdd.title) }}</p>
    </section>

    <section class="haut">
        <p>{{ form_label(formAdd.description) }}</p>
        <p>{{ form_widget(formAdd.description) }}</p>
    </section>

    <section class="haut">
        <p>{{ form_label(formAdd.imageMain) }}</p>
        <p>{{ form_widget(formAdd.imageMain) }}</p>
    </section>

    <section class="haut">
       {{ form_label(formAdd.images) }}
       {{ form_widget(formAdd.images) }}
    </section>

    <section class="haut">
       {{ form_label(formAdd.videos) }}
       {{ form_widget(formAdd.videos) }}
    </section>

    <section class="haut">
       {{ form_label(formAdd.groupe) }}
       {{ form_widget(formAdd.groupe) }}
    </section>

     {{ form_end(formAdd) }}
  </div>
{% endblock %}