{% extends 'base.html.twig' %}

{% block title %}Edit Trick{% endblock %}

{% block body %}
  <section class="imgFond">
  </section>

  <div class="container plan boite">
   {{ form_start(formEdit) }}
    <section>
      <div class="flex centreAll">
        <p class="name">Modifier le Trick</p>
        {% if app.user %}
          <div>
            <a href="{{ path('delete_trick', {'id': trick.id}) }}"><img src="{{ asset('img/corbeille.png') }}" alt="Corbeille" /></a>
          </div>
        {% endif %}
      </div>
      <a href="{{ asset(trick.imageMain) }}"><img src="{{ asset(trick.imageMain) }}" alt={{ trick.slug }} id="une"/></a>
    </section>

    <section class="flexTrick space">
      {% for image in trick.images %}
        <aside class="boiteImg">
          <a href="{{ asset(image.path) }}"><img src="{{ asset(image.path) }}" alt={{ trick.title }} class="mini" /></a>
        </aside>
      {% endfor %}
      {% for video in trick.videos %}
        <aside class="boiteImg">
          <div style="position:relative;padding-bottom:56.25%;height:0;overflow:hidden;"><iframe style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden" frameborder="0" type="text/html" src="{{ asset(video.url) }}" width="100%" height="100%" allowfullscreen></iframe></div>
        </aside>
      {% endfor %}
    </section>

    <section class="haut">
        <p>{{ form_label(formEdit.title) }}</p>
        <p>{{ form_widget(formEdit.title) }}</p>
    </section>

    <section class="haut">
        <p>{{ form_label(formEdit.description) }}</p>
        <p>{{ form_widget(formEdit.description) }}</p>
    </section>

    <section class="haut">
        <p>{{ form_label(formEdit.imageMain) }}</p>
        <p>{{ form_widget(formEdit.imageMain) }}</p>
    </section>

    <section class="haut">
       {{ form_label(formEdit.images) }}
       {{ form_widget(formEdit.images) }}
    </section>

    <section class="haut">
       {{ form_label(formEdit.videos) }}
       {{ form_widget(formEdit.videos) }}
    </section>

    <section class="haut">
       {{ form_label(formEdit.groupe) }}
       {{ form_widget(formEdit.groupe) }}
    </section>

     {{ form_end(formEdit) }}

     <section class="haut">
      <h2>Section Supprimer</h2>
      <div class="haut">
        <a href="{{ path('editImages', { 'slug': trick.slug }) }}" class="btn">Supprimer des images</a>
      </div>
    </section>
  </div>

{% endblock %}