{% extends 'base.html.twig' %}

{% block title %}Tricks{% endblock %}

{% block body %}
  <section class="imgFond">
  </section>

  <div class="container plan boite">
    <section>
      <div class="flex centreAll">
        <p class="name">{{ trick.title }}</p>
        <div>
          <a href=""><img src="{{ asset('img/pencil.png') }}" alt="Editer" /></a>
          <a href=""><img src="{{ asset('img/corbeille.png') }}" alt="Corbeille" /></a>
        </div>
      </div>
      <a href="{{ asset(media.path) }}"><img src="{{ asset(media.path) }}" alt={{ trick.title }} id="une"/></a> 
    </section>

    <section class="flex space">
      {% for media in medias %}
        <aside class="boiteImg">
          <a href="{{ asset(media.path) }}"><img src="{{ asset(media.path) }}" alt={{ trick.title }} class="mini" /></a>
        </aside>
        {# <a href="img/tricks.jpg"><img src="{{ asset('img/tricks.jpg') }}" alt="Image de tricks driver" class="mini" /></a>
        <a href="img/tricks.jpg"><img src="{{ asset('img/tricks.jpg') }}" alt="Image de tricks driver" class="mini" /></a>
        <a href="img/tricks.jpg"><img src="{{ asset('img/tricks.jpg') }}" alt="Image de tricks driver" class="mini" /></a>
        <a href="img/tricks.jpg"><img src="{{ asset('img/tricks.jpg') }}" alt="Image de tricks driver" class="mini" /></a>
        <a href="img/tricks.jpg"><img src="{{ asset('img/tricks.jpg') }}" alt="Image de tricks driver" class="mini" /></a> #}
        {# <img src="img/tricks.jpg" alt="Image de tricks driver" class="mini" />  
        <img src="img/tricks.jpg" alt="Image de tricks driver" class="mini" />
        <img src="img/tricks.jpg" alt="Image de tricks driver" class="mini" />
        <img src="img/tricks.jpg" alt="Image de tricks driver" class="mini" />
        <img src="img/tricks.jpg" alt="Image de tricks driver" class="mini" /> #}
      {% endfor %}
    </section>

    <section class="haut">
      <p>{{ trick.description }}</p>
    </section>

    <section class="haut flex space">
      <p class="infos">{{ groupe.name }}</p>
      <p class="infos">Date de création : {{ trick.dateCreation }}</p>
      <p class="infos">Date de modification : {{ trick.dateUpdate }}</p>
    </section>

    <section class="haut coms">
      <form action="" method="POST" class="flex item space">
        <textarea rows="3" cols="50" maxlength="200"></textarea>
        <button type="submit" class="btn">Laisser un commentaire</button>
      </form>
    </section>

    <section>
      <article class="flex listeCom space">
        <img src="{{ asset('img/tricks.jpg') }}" alt="Photo de profil" id="profil" />
        <p class="boiteCom">Sed molestie auctor libero quis tristique. Praesent porta convallis risus nec posuere. Quisque a velit libero. 
        Suspendisse potenti.</p>
      </article>
    </section>

    <section class="haut">
      <p class="center"><a href="" class="load">Voir plus</a></p>
    </section>
  </div>
{% endblock %}
