{% extends 'base.html.twig' %}

{% block title %}Tricks{% endblock %}

{% block body %}
  <section class="imgFond">
  </section>

  <div class="container plan boite">
    <section>
      <div class="flex centreAll">
        <p class="name">{{ trick.title }}</p>
        {% if app.user %}
          <div>
            <a href="{{ path('edit_trick', { 'slug': trick.slug }) }}"><img src="{{ asset('img/pencil.png') }}" alt="Editer" /></a>
            <a href="{{ path('delete_trick', {'id': trick.id}) }}"><img src="{{ asset('img/corbeille.png') }}" alt="Corbeille" /></a>
          </div>
        {% endif %}
      </div>
      <a href="{{ asset(trick.imageMain) }}"><img src="{{ asset(trick.imageMain) }}" alt={{ trick.slug }} id="une"/></a> 
    </section>

    <section class="flexTrick space">
      {% for image in trick.images %}
        <aside class="boiteImg">
          <a href="{{ asset(image.path) }}"><img src="{{ asset(image.path) }}" alt={{ trick.title }} class="mini" /></a>
        </aside>
     {% endfor %}
     {%  for video in trick.videos %}
        <aside class="boiteImg">
          <div style="position:relative;padding-bottom:56.25%;height:0;overflow:hidden;"><iframe style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden" frameborder="0" type="text/html" src="{{ asset(video.url) }}" width="100%" height="100%" allowfullscreen></iframe></div>
        </aside>    
      {% endfor %}
    </section>

    <section class="haut">
      <p>{{ trick.description }}</p>
      <p class="auteur">Crée par {{ trick.user.username }}</p>
    </section>

    <section class="haut flex space">
      <p class="infos">{{ trick.groupe.name }}</p>
      <p class="infos">Date de création : {{ trick.dateCreation|date("d-m-Y") }}</p>
      <p class="infos">Date de modification : {{ trick.dateUpdate|date("d-m-Y") }}</p>
    </section>

    {% if app.user %}
      <section class="haut coms">
        {# <form action="" method="POST" class="flex item space">
          <textarea rows="3" cols="50" maxlength="200"></textarea>
          <button type="submit" class="btn">Laisser un commentaire</button>
        </form> #}
          {{ form_start(formComment) }}
            {{ form_widget(formComment.content) }}
          {{ form_end(formComment) }}
        
        {% for message in app.flashes('comment') %}
            <div class="haut">
                {{ message }}
            </div>
        {% endfor %}
      </section>
    {% endif %}

    <section>
      {% for comment in comments %}
        <div class="comment">
          <article class="flex listeCom">
            <div class="boiteProfil">
              <img src="{{ asset(comment.user.photoProfil) }}" alt="Photo de profil" id="profil" />
              <p>{{ comment.user.username }}</p>
            </div>
            <div class="boiteComs">
              <p class="boiteCom">{{ comment.content }}</p>
              <p><span class="bas">Date de création : {{ comment.dateCreation|date("d-m-Y") }}</span></p>
            </div>
          </article>
        </div>
      {% endfor %}
    </section>

    {% if comments | length > 4 %}
      <section class="plus">
        <button id="loadMoreComment" type="submit" name="loadNextComment" class="load">Voir plus</button>
      </section>
    {% endif %}

  </div>
{% endblock %}
